.Desktop {
    position: absolute; 
    width: 800px;
    height: 600px;
    background-image: url('../assets/lainswater.png');
    background-size: cover; 
    background-position: center;
    display: flex;
}