.shortcut {
    display: inline-block;
    text-align: center;
    width: auto;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.shortcut img {
    cursor: pointer;
}

.shortcut p {
    margin: 0px;
    font-size: 12px;
    color: black;
    padding: 0px;
    cursor: pointer;
    background-color: white;
}

.drag-handle-shortcut:active {
  cursor: grabbing; /* This will change the cursor to a grabbing hand when the mouse button is down */
}

/* .shortcut img {
    width: 40px;
    height: auto; */
    /*position: relative;  Position relative to allow absolute positioning of the pseudo-element */
/* } */
/* New styles for dragging state */
.dragging img {
    opacity: 0.5; /* Dim the image */
    background-color: rgb(0, 0, 0); /* Black with 50% opacity */
    pointer-events: none; /* Ignore pointer events */
}

.dragging p {
    color: white;
    margin: 0px;
    font-size: 12px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.749);
}