.shortcut {
    display: inline-block;
    text-align: center;
    width: auto;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.shortcut img {
    cursor: pointer;
    width: auto;
    height: 40px;
}
.shortcut p {
    margin: 0px;
    font-size: 12px;
    color: black;
    padding: 0px;
    cursor: pointer;
    background-color: rgb(255, 255, 255, .8);
}
.drag-handle-shortcut:active {
  cursor: grabbing; 
}
.dragging img {
    opacity: 0.5; 
    background-color: rgb(0, 0, 0, .8); 
    pointer-events: none; 
}
.dragging p {
    color: white;
    margin: 0px;
    font-size: 12px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}