.taskbarcenter {
    display: flex;
    position: relative;
    bottom: 0;
}
.newclock {
    position: absolute; 
    right: 0; /* Align to the right of the taskbarmid div */
    top: 1px;
    z-index: 1; /* Ensure it is above the taskbar background */
    font-size: 14px;
}