@font-face {
  font-family: 'JMHTypewriter';
  src: url('./fonts/JMHTypewriter.otf') format('opentype'),
       url('./fonts/JMHTypewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'JMHTypewriter', sans-serif;
  image-rendering: pixelated;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  image-rendering: pixelated;
}